<!-- XML -->
<launch>
    <include file="$(find d3_inventory_demo)/launch/demo_cameras.launch"/>

    <node pkg="d3_apriltag" type="apriltag_odom.py" name="apriltag_node" output="screen">
        <param name="camera_name" value="imx390"/>
        <remap from="/image_raw" to="/imx390/image_rgb"/>
    </node>

    <include file="$(find d3_inventory_demo)/launch/robot_tf.launch"/>
</launch>

